button {
    cursor: pointer;
}

label {
    cursor: pointer;
}

nav {
    grid-template-columns: 15% 75% 10%;
    // grid-template-rows: [row-1] 100px [row-2] 150px [row-3] 0.2fr [row-4] 0.8fr [row-5];
    background-color: #007FFF;
    display: grid;
    align-items: center;
    padding: 0 10px;

    .logo {
        justify-self: start;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .user {
        justify-self: end;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    button {
        display: flex;
        align-items: center;

        &.hbn {
            .icon {
                // margin: 0 0.4em;
                height: 25px;
                width: 25px;
            }

            // margin-right: 1em;
            font-size: 27px;
            font-weight: bold;
            // color: mintcream;
        }

        // &.hbn:hover {
        //     background-color: transparent;

        //     .icon {
        //         color: black;
        //     }

        //     // text-shadow: 1.8px 1.8px 0 black,
        //     // 1.8px 0px 0 black,
        //     // 1.8px -1.8px 0 black,
        //     // 0px 1.8px 0 black,
        //     // 0px -1.8px 0 black,
        //     // -1.8px 1.8px 0 black,
        //     // -1.8px 0px 0 black,
        //     // -1.8px -1.8px 0 black,
        // }

        font-size: x-large;
        margin: 0.2em;
        padding: 0.3em;
        border-radius: 0.2em;
        background:none;
        border:none;
        color: mistyrose;

        &:hover {
            background-color: rgb(65, 160, 255);
            color: mintcream;
            cursor: pointer;
        }
    }
}

a {
    text-decoration: none;
}

.nav2 {
    padding: 5px;
    width: 280px;
    height: 100vh;
    background-color: rgb(135, 206, 250, 0.2);

    button {
        color: rgb(26, 105, 170);
        display: flex;
        align-items: center;
        width: 100%;
        font-size: x-large;
        background: none;

        &:hover {
            background-color: rgb(135, 206, 250, 0.5);
            // color: white;
        }

        border: none;
        display: flex;
        align-items: center;

        .icon {
            margin-right: 0.4em;
        }
    }

    input {
        box-sizing: border-box;
        width: 100%;
        border-color: rgb(26, 105, 170);
        outline: none;
    }
}